.campo-texto {
    margin: 10px auto;
}

.campo-texto label {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
}

.campo-texto input {
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgb(0 0 0 / 6%);
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 9px;
    box-sizing: border-box;
}
